<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto News</title>
</head>

<body>
    <h1>Crypto News of the Day</h1>

    <div>
        <form action="#" th:action="@{/articles}" method="post">
            <input type="submit" value="Save" />
            <br>
            <div th:each="i : ${articlesList}">
                <img th:src="@{${i.imageUrl}}" width="200" height="200">
                <p th:text="'Id: ' + *{i.id}"></p>
                <p th:text="*{i.title}"></p>
                <p th:text="*{i.body}"></p>
                <p th:text="'Categories: ' + *{i.categories}"></p>
                <p th:text="'Tags: ' + *{i.tags}"></p>
                <p th:text="'Published: ' + *{i.publishedOn}"></p>
                <a th:href="@{${i.url}}">Link</a>
                <label for="id">Save</label>
                <input id="id" th:value="${i}" type="checkbox" name="selectedArticlesList" />
                <hr>

            </div>
        </form>
        <br>
    </div>

</body>

</html>